@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Add Backups";

    PageData["date"] = "";
    PageData["hardDrive"] = "";
    PageData["description"] = "";
    PageData["type"] = "";
    PageData["notes"] = "";
    
    if(IsPost){
        var dbDate = DateTime.ParseExact(Request.QueryString["date"].ToString(), "MMddyyyy", System.Globalization.CultureInfo.CurrentCulture);
        var dbHardDrive = Request.QueryString["harddrive"];
        var dbDescription = Request.QueryString["description"];
        var dbType = Request.QueryString["type"];
        var dbNotes = Request.QueryString["notes"];
        
        var db = Database.Open("BackupTrackr");
        var query = @"INSERT INTO Backups
                                  (date, harddrive, description, type, notes)
                           VALUES (@0, @1, @2, @3, @4)";
        //db.Execute(query, dbDate, dbHardDrive, dbDescription, dbType, dbNotes);
        //Response.Redirect("/BackupLog");
    }
}

<p>Use this form to add new backup entries to the database</p>
@RenderPage("~/_BackupForm.cshtml")