@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Add Hard Drive Records";
    Page.Heading = "Enter New Hard Drive";

    // Form handling goes here
}

<div>
    <form method="post">
        <fieldset>
            <!--Label-->
            <!--Serial-->
            <!--Status-->
            <!--Size-->
            <!--Submit-->
        </fieldset>
    </form>
</div>