@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Adding Hard Drive Page";

    PageData["label"] = "";
    PageData["serial"] = "";
    PageData["status"] = 1;
    PageData["size"] = "";
    
    if(IsPost){
        var dbLabel = Request.Form["label"];
        var dbSerial = Request.Form["serial"];
        var dbStatus = Request.Form["status"];
        var dbSize = Request.Form["size"];
    
        var db = Database.Open("BackupTrackr");
        var query = @"INSERT INTO HardDrives
                                  (label, serial, status, size)
                           VALUES (@0, @1, @2, @3)";
        db.Execute(query,dbLabel,dbSerial,dbStatus,dbSize);
        Response.Redirect("/HardDriveLog");
    }

}

<div>
    <p>Use this page to add new hard drives to the database.</p>
    @RenderPage("~/_HardDriveForm.cshtml")
</div>