@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Hard Drives";
    Page.Heading="Backup Trackr Home";

    var db = Database.Open("BackupTrackr");
    var selectData = @"SELECT harddrives.label, harddrives.serial,
                              statuses.description, harddrives.size
                         FROM harddrives
                         JOIN statuses
                           ON harddrives.status = statuses.abbrev";
    var selectedData = db.Query(selectData);
    
    WebGrid grid = new WebGrid(source: selectedData);
}

<a class="btn btn-default pull-right" role="button" href="/AddHardDrive">Add</a>

@grid.GetHtml(
    tableStyle : "table table-striped",
    columns: grid.Columns(
        grid.Column("label", "Label"),
        grid.Column("serial", "Serial"),
        grid.Column("description", "Description"),
        grid.Column("size", "Size in GB"),
        grid.Column(header:"", format:@<text><a class="btn btn-primary btn-sm pull-right" role="button" href="/EditHardDrive?label=@item.label">Edit</a></text>)
    )
)