@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Home of the Backup Trackr!";
    Page.Heading="Backup Trackr Home";

    
}

<p>This page is for tracking hard drives and their utilization in a backup plan</p>
<p>Select an option from the navigation section</p>
