@{
    // Page Group
    Layout = "~/_Layout.cshtml";
    Page.Title = "Delete Hard Drive";
    Page.Heading="Delete Hard Drive";
    
    // Database Group
    var hardDrive = Request.QueryString["id"];
    var db = Database.Open("BackupTrackr");
    
    // Database Hard Drive Query
    var selectHardDriveQuery = "SELECT label FROM HardDrives WHERE id=@0";
    var hardDriveResult = db.QuerySingle(selectHardDriveQuery,hardDrive);
    
    // Database Backup Query
    var selectBackupQuery = "SELECT date,description FROM Backups WHERE harddrive=@0";
    var backupResult = db.Query(selectBackupQuery,hardDrive);
}

<p class="lead">The following hard drive:
<strong>@hardDriveResult.label</strong>
Containing the following backups:</p>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Date</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var row in backupResult){
            <tr>
                <td>@row.date</td>
                <td>@row.description</td>
            </tr>
        }
    </tbody>
</table>
<h2>Not turning out the way I thought.  Will rework it later</h2>