@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Edit Hard Drive";
}

<div>
    <form method="post">
        <fieldset>
            <!--Label-->
            <!--Serial-->
            <!--Status-->
            <!--Size-->
            <!--Submit-->
        </fieldset>
    </form>
</div>