@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Edit Backups";
    
    if(Request.QueryString["id"].IsEmpty()){
        Response.Redirect("/BackupLog");
    }

    var backupId = Request.QueryString["id"];
    var db = Database.Open("BackupTrackr");
    var backupQuery = @"SELECT * FROM Backups WHERE id=@0";
    var backup = db.QuerySingle(backupQuery,backupId);
    
    PageData["date"] = backup.date;
    PageData["harddrive"] = backup.harddrive;
    PageData["description"] = backup.description;
    PageData["type"] = backup.type;
    PageData["notes"] = backup.notes;
    
    if(IsPost){
        var dbDate = Request.Form["date"];
        var dbHardDrive = Request.Form["harddrive"];
        var dbDescription = Request.Form["description"];
        var dbType = Request.Form["type"];
        var dbNotes = Request.Form["notes"];

        var updateQuery = @"UPDATE Backups
                               SET date = @0, harddrive = @1,
                                   description = @2, type = @3,
                                   notes = @4
                             WHERE id = @5";
        db.Execute(updateQuery,dbDate,dbHardDrive,dbDescription,dbType,dbNotes,backupId);
        Response.Redirect("/BackupLog");
    }
}

<p>This page is for editing backups</p>
@RenderPage("~/_BackupForm.cshtml")