@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Manage Backup Records";

    // Form handling goes here
}

<div>
    <form method="post">
        <fieldset>
            <!--Date-->
            <!--Label-->
            <!--Description-->
            <!--Type-->
            <!--Notes-->
            <!--Submit-->
        </fieldset>
    </form>
</div>