@{
    Layout = "~/Layout.cshtml";
    Page.Title = "Add Backup Records";
    Page.Heading = "Enter New Backup";

    // Form handling goes here
}

<div>
    <form method="post">
        <fieldset>
            <!--Date-->
            <!--Label-->
            <!--Description-->
            <!--Type-->
            <!--Notes-->
            <!--Submit-->
        </fieldset>
    </form>
</div>