@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Testing Page";
}

<div>
    <p>This is a temporary page for testing out new functionality.  Seeing as how the basic functionality is not quite in place yet, there is nothing of note here at this time.  Move along.</p>
</div>