@{
    // Page Group
    Layout = "~/_Layout.cshtml";
    Page.Title = "Testing Page";
    Page.Heading="Testing Page";

    var confirm = "";
}

<script>
    var test = confirm("This is a test");
    if(test == 1){
        alert("True!");
    } else {
        alert("False!");
    }
</script>
<h1>@confirm</h1>