body {
    background-color: #C2C2C2;
}
div {
    border: 1px solid black;
}
#container {
    width: 800px;
    margin: 0 auto;
    background-color: #fff;
    font-family: Tahoma,Verdana,Arial, sans-serif;
}
#content {
    padding: 5%;
}